In [1]:
import requests
from bs4 import BeautifulSoup as bts
import pandas as pd

In [2]:
res = requests.get(url = 'https://finance.naver.com/marketindex/')

In [3]:
soup = bts(markup = res.text, features = 'html.parser')

In [4]:
items = soup.select('#exchangeList > li > a > div > span.value')
len(items)

4

In [5]:
rates = [item.text for item in items]
rates

['1,367.60', '879.51', '1,474.41', '189.22']

In [6]:
items = soup.select('#exchangeList > li > a > h3 > span')
len(items)

4

In [7]:
nations = [item.text for item in items]
nations

['미국 USD', '일본 JPY(100엔)', '유럽연합 EUR', '중국 CNY']

In [8]:
df = pd.DataFrame(data = {'국가': nations, '환율': rates})

In [9]:
df

             국가        환율
0        미국 USD  1,367.60
1  일본 JPY(100엔)    879.51
2      유럽연합 EUR  1,474.41
3        중국 CNY    189.22